:root{
    --text-red-900: #ff0000;
    --color-grey: #5c5e5d;
    --color-lemon-green: #ff0000;
    --color-darkgrey: #959c97
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 80%;
    height: 900px;
    background-image: url(images/main.png);
    background-size: cover;
    background-position: 100% 50%;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
nav h1{
    width: 150px;
    font-size: 30px;
    margin-right: 120px;
}
nav h1 span{
    color: #57f608;
}
nav ul{
    display: flex;
    margin-left: 200px;
    padding: 0;
    list-style: none;
}
nav ul li{
    /* display: inline-block;
    list-style: none; */
    margin: 10px 25px;
}
nav ul li a{
    color: rgb(240, 238, 238);
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h2{
    font-size: 60px;
    margin-top: 25px;
}
.header-text h2 span{
    color: #57f608;
}

/* ------ About Section ----- */
#about{
    padding: 80px 0;
    color: #ede6e6;
}
section img{
    width: 100%;
    height: 450px;
    border: 1px solid grey;
    border-radius: 15px;
    background-position: left;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-user-col{
    flex-basis: 30%;
}
.about-user-desc{
    flex-basis: 60%;
    }
.titleCard{
    font-size: 45px;
    font-weight: 600;
    color: #57f608;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    color: white;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    font-size: 16px;
    color: hwb(0 0% 0%);
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/* ---------------- Services -------------- */
#services{
    padding: 40px 0;
}
.skill-Item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.skill-Item h3{
    line-height: 40px;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-red-900);
    text-transform: capitalize;
}
.skill-Item .progress{
    position: relative;
    background-color: var(--color-grey);
    height: 8px;
    border-radius: 5px;
    width: 100%;

}
.skill-Item .progress-percent{
    background-color: var(--color-lemon-green);
    height: 100%;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
}

.skill-Item .skill-percent{
    color: var(--color-darkgrey);
    position: absolute;
    right: 0;
    top: -22px;
    font-weight: 400;
    line-height: 20px;
}

/* ---------- portfolio ---------- */
#portfolio{
    margin: 10px auto;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px;
    position: relative;  
    overflow: hidden;  
}
.projectList{
    width: 450px;
    position: relative; 
    overflow: hidden;
}

.projectList img{
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
    
}
.projectList .details{
    padding: 0px 40px;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#d406fd);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.projectList .details h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.projectList .details a{
    color: #201f1f;
    margin-top: 20px;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center
}

.projectList:hover img{
    transform: scale(1.1);

}
.projectList:hover .details{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgb(251, 0, 255);
    padding: 10px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color0.5s;
}
.btn:hover{
    background-color: #d406fd;
}

/* ------- Contact section --------- */

.contact-left{
    flex-basis: 40%;
}
.contact-right{
    flex-basis: 55%;
}
.contact-left p {
    margin:20px 0px;
}
.contact-left p i{
    color: #f8f6f8;
    padding: 5px;
    font-size: 20px;
}
.social-icons{
    margin-top: 25px;
}
.social-icons a{
    color: white;
    margin-right: 15px;
    font-size: 25px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff0000;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: rgb(247, 2, 243);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 2px;
    outline: none;
    background: #2c2c2c;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
form .btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: 400;
    margin-top: 20px;
    background: #262626;
}
.copyright i{
    color: #fa00f6;
    font-weight: 500;
}


/* --------- Small Screen layout ----- */
nav .fa-xmark{
    display: none;
}
nav .fa-bars{
    display: none;
}

/* Go to Top Button */
#goToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 60px; 
    right: 20px; 
    z-index: 99; 
    font-size: 18px;
    background-color: #ff00f2; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: opacity 0.3s ease-in-out; 
}


@media only screen and (max-width: 600px){
    header{
        background-image: url(images/akhil_pendlimarry_photo.jpg);
        background-size: cover;
        background-position: center;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h2{
        font-size: 30px;
    }
    nav .fa-xmark, nav .fa-bars{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition:  right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .titleCard{
        font-size: 30px;
    }
    .about-user-col, .about-user-desc{
        flex-basis: 100%;
    }
    .about-user-col{
        margin-bottom: 30px;
    }
    .about-user-desc{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-right{
        flex-basis: 100%;
    }
}